{% extends "layout-2.html" %}
{% block content %}
<section class="section">
        <div class="container" style="padding-top: 10px">
        <div class="columns">
          <div class="column is-2">
                <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ image_file }}">
                      </figure>
          </div>
                      <div class="column">
            <h2 class="title is-3">{{ current_user.username }}</h2>
            <h6 class="subtitle is-6">{{ current_user.email }}</h6>
         
          </div>
         
        </div>
        <div class="columns">

                <div class="card">
                        <div class="card-content">
     
                        <form method="POST" action="" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                           
                                <legend class="title is-2">Account Info</legend>
                              
                
                                <div class="control-material is-secondary">
                                        {% if form.username.errors %}
                                            {{ form.username(class="material-input is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.username.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.username(class="material-input") }}
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            {{ form.username.label(class="form-control-label") }}
                                        {% endif %}
                                    </div>


                                    <div class="control-material is-secondary">
                                            {% if form.email.errors %}
                                                {{ form.email(class="material-input is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.email.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.email(class="material-input") }}
                                                <span class="material-highlight"></span>
                                                <span class="bar"></span>
                                                {{ form.email.label(class="form-control-label") }}
                                            {% endif %}
                                        </div>
                
                              
                                <div class="form-group">
                                    {{ form.picture.label() }}
                                    <br>    
                                    {{ form.picture(class="form-control-file") }}
                                    {% if form.picture.errors %}
                                        {% for error in form.picture.errors %}
                                            <span class="text-danger">{{ error }}</span></br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                         <br>
                            <div class="form-group">
                                {{ form.submit(class="button is-danger is-rounded rounded raised") }}
                            </div>
                        </form>
                    </div>
                    </div>
        </div>
    
    
        </div>
      </section>


   
{% endblock content %}