<!DOCTYPE html>
<html>  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="title is-2">Our Picks</h2>
        <h6 class="subtitle is-6">check out our selected recipe choices</h6>
     
      </div>
     
    </div>



    </div>
  </section>
<!-- Card Section -->
  <section>
      
      <div class="container">
         <!-- Flex card hover inset -->
         <div class="columns">

          <div class="column is-4">
            <!-- Demo section -->
            <div class="flex-card light-bordered hover-inset">
                <div class="card-body">
                    <div class="content">
                            <div class="header-avatar">
                                    <img class="card-image" src="/img/coca-cola-circle-logo-A9EBD3B00A-seeklogo.com.png" alt=""
>
                                </div>

                        <h2 class="no-margin title-bold has-text-centered">French Onion Soup</h2>

                        
                                <div class="card-text">  
                                  <div class="card-section">

                                      <h6 class="subtitle is-6 has-text-centered">Time</h6>
                                      <h5 class="title is-5 has-text-centered ">30</h5>
                                  </div>
                                       
                                
                                
                                <div class="is-divider-vertical"></div>
                                
                                <div class="card-section">
                                        <h6 class="subtitle is-6 has-text-centered">Serves</h6>
                                        <h5 class="title is-5 has-text-centered">4</h5>
                                </div>

                                <div class="is-divider-vertical" ></div>
                                
                                <div class="card-section">
                                        <h6 class="subtitle is-6 has-text-centered">Calories</h6>
                                        <h5 class="title is-5 has-text-centered">340</h5>
                                </div>
                                
                              </div>

                    
                    </div>
                </div>
            </div>
            <!-- /Demo section -->

            <!-- /Code section -->
        </div>

        <div class="column is-4">
            <!-- Demo section -->
            <div class="flex-card light-bordered hover-inset">
                <div class="card-body">
                    <div class="content">
                            <div class="header-avatar">
                                    <img class="card-image" src="/img/coca-cola-circle-logo-A9EBD3B00A-seeklogo.com.png" alt=""
>
                                </div>

                        <h2 class="no-margin title-bold has-text-centered">French Onion Soup</h2>

                        
                                <div class="card-text">  
                                  <div class="card-section">

                                      <h6 class="subtitle is-6 has-text-centered">Time</h6>
                                      <h5 class="title is-5 has-text-centered ">30</h5>
                                  </div>
                                       
                                
                                
                                <div class="is-divider-vertical"></div>
                                
                                <div class="card-section">
                                        <h6 class="subtitle is-6 has-text-centered">Serves</h6>
                                        <h5 class="title is-5 has-text-centered">4</h5>
                                </div>

                                <div class="is-divider-vertical" ></div>
                                
                                <div class="card-section">
                                        <h6 class="subtitle is-6 has-text-centered">Calories</h6>
                                        <h5 class="title is-5 has-text-centered">340</h5>
                                </div>
                                
                              </div>

                    
                    </div>
                </div>
            </div>
            <!-- /Demo section -->

            <!-- /Code section -->
        </div>
        

        <div class="column is-4">
            <!-- Demo section -->
            <div class="flex-card light-bordered hover-inset">
                <div class="card-body">
                    <div class="content">
                            <div class="header-avatar">
                                    <img class="card-image" src="/img/coca-cola-circle-logo-A9EBD3B00A-seeklogo.com.png" alt=""
>
                                </div>

                        <h2 class="no-margin title-bold has-text-centered">French Onion Soup</h2>

                        
                                <div class="card-text">  
                                  <div class="card-section">

                                      <h6 class="subtitle is-6 has-text-centered">Time</h6>
                                      <h5 class="title is-5 has-text-centered ">30</h5>
                                  </div>
                                       
                                
                                
                                <div class="is-divider-vertical"></div>
                                
                                <div class="card-section">
                                        <h6 class="subtitle is-6 has-text-centered">Serves</h6>
                                        <h5 class="title is-5 has-text-centered">4</h5>
                                </div>

                                <div class="is-divider-vertical" ></div>
                                
                                <div class="card-section">
                                        <h6 class="subtitle is-6 has-text-centered">Calories</h6>
                                        <h5 class="title is-5 has-text-centered">340</h5>
                                </div>
                                
                              </div>

                    
                    </div>
                </div>
            </div>
            <!-- /Demo section -->

            <!-- /Code section -->
        </div>

          
  
          
          </div>
          <!-- /Flex hover card inset -->

              
                </div>
            </div>
        </div>

  </section>
  <!-- /Card-Section -->
  </body>
</html>
