{% extends "layout-2.html" %}
{% block content %}
<div class="div-only-mobile">
    <h4 class="title is-4">{{ post.title }}<h4>
      
        <div class="overlay-img"></div>
        
        <div class="img-circular" style="background-image: url( {{ url_for('static', filename='post_img/' + post.image) }} );"></div>
     
            <div class="rounded-backround">

            </div>

            <div class="article-metadata backround-white">
                <img class="profile-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if post.author == current_user %}
            
                    
                    <a class="button is-warning" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                    <a class="button is-danger open-modal" data-modal-id="#my-modal">Delete</a>
                    
                   
                     
                    {% endif %}
              </div>


</div>
<section class="section">


    <div class="container" style="padding-top: 10px">
    
  <div class="columns">
        <div class="column">
                
                <div class="desk">
                    <div class="article-metadata backround-white">
                        <img class="profile-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                        {% if post.author == current_user %}
                    
                            
                            <a class="button is-warning" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                            <a class="button is-danger open-modal" data-modal-id="#my-modal">Delete</a>
                            
                           
                             
                            {% endif %}
                      </div>

                        <img src="{{ url_for('static', filename='post_img/' + post.image) }}" alt="">
                        
                </div>
                
                
            </div>

    <div class="column is-three-fifths tab-left">


      
            <h1 class="title is-1 desk">{{ post.title }}<h1>
        <h5 class="subtitle orange is-5">
            <i class="far fa-clock orange"></i> {{ post.time }}
            &emsp;
            <i class="fas fa-user-alt orange"></i> {{ post.serves }}
            &nbsp; &nbsp;
            <i class="fas fa-fire orange"></i> {{ post.cal }}
        </h5>


         

        <div class="ingredietns">
                <h5 class="title is-5">Ingredients</h5>
                <table class="table is-fullwidth">
                  <tbody>

                      {% for i, k in ingred %}
                      
                      <tr> 
                          {% if i%}
                          <td>• {{ i }} </td>
                          {% endif %}
                          
                          {% if k%}
                          <td>• {{ k }} </td>
                          {% endif %}
                          </tr>

                      {% endfor %}
                     

                    
                
                 
               
                
                  
                
                  </tbody>
                </table>
                
        </div>
        <div class="directions">
                <h5 class="title is-5">Instructions</h5>
                {% for i in post.steps %}
                <h6 class="subtitle is-6">• {{ i }}</h6>
                {% endfor %}  
              </div>
    </div>
  

  </div>
  </div>
</section>

<!-- Modal -->
<div aria-hidden="" class="modal" id="my-modal">
    <div class="modal-background close-modal" data-modal-id="#my-modal"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete Post?</p>
      <button aria-label="close" class="delete close-modal" data-modal-id="#my-modal"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <!-- <h1>Hello World</h1> -->
        <p>This post will be permanentally deleted</p>
        
        
      </div>
    </section>
    <footer class="modal-card-foot">

      <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
          <input class="button is-danger" type="submit" value="Delete">
        </form>

      <button class="button close-modal" data-modal-id="#my-modal" >close</button>
    </footer>
  </div>
</div>


<script>
function toggleModalClasses(event) {
    var modalId = event.currentTarget.dataset.modalId;
    var modal = $(modalId);
    modal.toggleClass('is-active');
    $('html').toggleClass('is-clipped');
  };

$('.open-modal').click(toggleModalClasses);

$('.close-modal').click(toggleModalClasses);
</script>

{% endblock content %}