{% extends "layout-2.html" %}
{% block content %}
    <body>
   
      
        <!-- Hero and nav -->
        <div class="hero hero-wavy is-fullheight is-relative is-light-grey huge-pb">
            
         
            <!-- Hero -->
            <div id="main-hero" class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered pt-50 pb-50">
                        <div class="column is-6 is-offset-3 z-index-2">
                            <!-- Login form -->
                            <div id="login-card" class="animated preFadeInLeft fadeInLeft">
                                <div class="flex-card clean-login-card">
                                    <h2 class="text-bold dark-text">Log in</h2>
                                    <form method="POST" action="" class="pt-10 pb-10">
                                            {{ form.hidden_tag() }}
                                    

                                        <div class="control-material is-secondary">
                                                {% if form.username.errors %}
                                                    {{ form.username(class="material-input is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.username.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.username(class="material-input") }}
                                                    <span class="material-highlight"></span>
                                                    <span class="bar"></span>
                                                    {{ form.username.label(class="form-control-label") }}
                                                {% endif %}
                                            </div>

                                            <div class="control-material is-secondary">
                                                    {% if form.email.errors %}
                                                        {{ form.email(class="material-input is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.email.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.email(class="material-input") }}
                                                        <span class="material-highlight"></span>
                                                        <span class="bar"></span>
                                                        {{ form.email.label(class="form-control-label") }}
                                                    {% endif %}
                                                </div>

                                                <div class="control-material is-secondary">
                                                        {% if form.password.errors %}
                                                            {{ form.password(class="material-input is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.password.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.password(class="material-input") }}
                                                            <span class="material-highlight"></span>
                                                            <span class="bar"></span>
                                                            {{ form.password.label(class="form-control-label") }}
                                                        {% endif %}
                                                    </div>

                                                    <div class="control-material is-secondary">
                                                            {% if form.confirm_password.errors %}
                                                                {{ form.confirm_password(class="material-input is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                    {% for error in form.confirm_password.errors %}
                                                                        <span>{{ error }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                                {{ form.confirm_password(class="material-input") }}
                                                                <span class="material-highlight"></span>
                                                                <span class="bar"></span>
                                                                {{ form.confirm_password.label(class="form-control-label") }}
                                                            {% endif %}
                                                        </div>





        
                                    
        
                                        <div class="mt-20">

                                                {{ form.submit(class="button button-cta btn-align secondary-btn is-fullwidth rounded raised no-lh") }}
                                            
                                        </div>
                                    
                                    
                                    </form>
                                </div>
        
                                <p class="has-text-centered pt-20 pb-20">
                                    <a id="show-recover" class="no-account" href="#">Already Have An Account?</a>
                                    &nbsp;
                                    <a id="show-recover" class="no-account is-secondary" href="{{ url_for('login') }}">Sign In</a>
                                </p>
                            </div>
                            <!-- /Login form -->
        
                            <!-- Recover form -->
                            <div id="recover-card" class="animated preFadeInLeft fadeInLeft is-hidden">
                                <div class="flex-card clean-login-card">
                                    <h2 class="text-bold dark-text">Reset Password</h2>
                                    <form>
                                        <div class="control-material is-secondary">      
                                            <input class="material-input" type="text" required>
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            <label>Email address *</label>
                                        </div>
        
                                        <div class="mt-20">
                                            <button class="button button-cta btn-align secondary-btn rounded is-fullwidth raised no-lh">Reset Password</button>
                                        </div>
                                    </form>
                                </div>
        
                                <p class="has-text-centered pt-20 pb-20">
                                    <a id="show-login" class="no-account is-secondary" href="#">Back to login</a>
                                </p>
                            </div>
                            <!-- /Recover form -->    
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Hero image -->
        </div>
        <!-- /Hero and nav -->
        
  
  
          
    
      
       
        
        <!-- Bulkit js -->
      </body>  

      {% endblock content %}