<!DOCTYPE html>
<html>  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="title is-2">Our Picks</h2>
        <h6 class="subtitle is-6">check out our selected recipe choices</h6>
     
      </div>
     
    </div>



    </div>
  </section>
  <section class="section">
    <div class="container">
        <div class="columns">
     <div class="column">Column 1</div>
     <div class="is-divider-vertical" data-content="OR"></div>
     <div class="column">
       Column 2 <br/>
       Note: divider stretches to parent's height.
     </div>
     
     <div class="flex-card light-bordered hover-raised">
        <div class="card-body">
            <div class="content">
                <h2 class="no-margin title-bold">Card title</h2>
                <p class="pt-10">Lorem ipsum dolor sit amet, has vero libris melius ea, omnis velit comprehensam duo an, meis ornatus eam ad. Ius ut labores scaevola.</p>
            </div>
        </div>
    </div>
       <!-- Flex card hover inset -->
       <div class="columns is-vcentered mt-80">
        <div class="column is-4 is-offset-4">
            <!-- Demo section -->
            <div class="info-block pb-20">
                <h4>Hover inset</h4>
                <p>You give some inset to a card on hover by adding the class <code>.hover-inset</code>.</p>
            </div>

            <div class="flex-card light-bordered hover-inset">
                <div class="card-body">
                    <div class="content">
                        <h2 class="no-margin title-bold">Hover me</h2>
                        <p class="pt-10">Lorem ipsum dolor sit amet, has vero libris melius ea, omnis velit comprehensam duo an, meis ornatus eam ad. Ius ut labores scaevola.</p>
                    </div>
                </div>
            </div>
            <!-- /Demo section -->

            <!-- /Code section -->
        </div>
    </div>
    <!-- /Flex hover card inset -->



    <!-- Flex card header -->
    <div class="columns is-vcentered pt-60 pb-60">
        <div class="column is-6 is-offset-3">
            <!-- Demo section -->
            <div class="info-block">
                <h4>Flex card header</h4>
                <p>You can add a header with content to any flex card.</p>
            </div>

            <div class="flex-card light-bordered hover-inset">
                <div class="flex-card-header">
                    <div class="header-avatar">
                        <img src="../via.placeholder.com/250x250.png" alt=""
                            data-demo-src="assets/images/avatars/helen.jpg">
                    </div>
                    <div class="header-info">
                        <div class="header-title">Helen Miller</div>
                        <div class="header-subtitle">Sales team</div>
                    </div>
                    <div class="header-control ml-auto">
                        <i class="sl sl-icon-arrow-down"></i>
                    </div>
                </div>
                <div class="card-body is-small">
                    <div class="content">
                        <p class="pb-10">Lorem ipsum dolor sit amet, has vero libris melius ea, omnis velit comprehensam duo an, meis ornatus eam ad. Ius ut labores scaevola.</p>
                    </div>
                    <div class="has-text-right">
                        <a class="button btn-align btn-outlined accent-btn rounded raised">Follow</a>
                    </div>
                </div>
            </div>
            <!-- /Demo section -->

        </div>
    </div>
                
    </div>
    </div>
  </section>
  </body>
</html>
